#tumblr_shortcuts_help {
    color: white;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#tumblr_shortcuts_help.hidden {
    height: 0;
    opacity: 0;
}

#tumblr_shortcuts_help.hidden * {
    display: none;
}

#tumblr_shortcuts_curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    z-index: 10000;
}

#tumblr_shortcuts_popup {
    position: fixed;
    width: 400px;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    background: black;
    opacity: 0.8;
    padding: 30px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 20000;
}

#tumblr_shortcuts_popup h1, #tumblr_shortcuts_popup h2, #tumblr_shortcuts_popup p {
    color: white;
    font-weight: 300;
}

#tumblr_shortcuts_popup h2 {
    margin-bottom: -15px;
}

#tumblr_shortcuts_popup table tr td:first-child {
    color: #DD0;
    text-align: right;
    padding-right: 5px;
}

#tumblr_shortcuts_popup table tr td:first-child:after {
    content: ' :';
    color: white;
}

#tumblr_shortcuts_button {
    width: 38px;
    height: 38px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAMAAABI111xAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzJEMzdDMkU1NzA1MTFFMUI3RUVFQzUyRDJCQTU2MDIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzJEMzdDMkY1NzA1MTFFMUI3RUVFQzUyRDJCQTU2MDIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozMkQzN0MyQzU3MDUxMUUxQjdFRUVDNTJEMkJBNTYwMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozMkQzN0MyRDU3MDUxMUUxQjdFRUVDNTJEMkJBNTYwMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PgzbmnAAAAAJUExURf///97e3v///6aV/YIAAAADdFJOU///ANfKDUEAAAAzSURBVHjaYmBkYGBCwwwMWAWBgAkNA0ksgAGsHF0zVkEMU/GZiawJxZ2ogkgmwdkAAQYATrcAnxrWk3kAAAAASUVORK5CYII=) no-repeat center !important;
    opacity: 0.5;
}

#tumblr_shortcuts_button:hover {
    opacity: 1;
}
